body{background-color: #dee2e6}
p{font-size: large; text-align:justify;}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0);
}

a.navbar-brand {
    background-color: #439497;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}

figure.box-1 {
    margin: 0 0 1rem;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 1rem;
    margin-left: 15px;
    position: relative;
    width: 550px;
    height: 500px;
    background: #ffffff;
    /* border: 2px solid #343a40; */
    padding: inherit;
}

figure.box-2 {
    margin: 0 0 1rem;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 1rem;
    margin-left: 15px;
    position: relative;
    width: 490px;
    height: 400px;
    background: #ffffff;
    /* border: 2px solid #343a40; */
    padding: inherit;
}

#comp1{
    margin-top: 30px;
    text-align:center;
    color: #439497;
}

#comp2{
    margin-top: 30px;
    text-align:center;
    color: #439497;
}

h3#summary_table{
    margin-bottom: 0.1rem;
    line-height: 2;
}

div#data {
    background-color: white;
}

.container{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

h1{ 
    margin-bottom: 20px;
    padding-left: 15px;
    color: #439497;
}



@media (max-width: 600px) {
    .navbar-expand-lg {background-color: #439497 !important;}
    .navbar-collapse{background-color: white;}
    body{background-color: #ffffff}
}

/*@media (min-width: 768px){
.col-md-6 .box-2{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
        }
        style='border-collapse: collapse;table-layout:fixed;width:528pt'
}*/

